h1,
h2,
h3,
p {
  font-family: Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  }

h2 {
  font-size: 32px;
  color: white;
}

#brushes {
  background-color: mediumspringgreen;
  font-weight: bold;
}

#frames {
  background-color:lightcoral;
  font-weight: bold;
}

#paint {
  background-color: skyblue;
  font-weight: bold;
}
